In [61]:
from selenium import webdriver
import pandas as pd

In [30]:
browser = webdriver.Chrome()

In [31]:
browser.get("https://scraping-for-beginner.herokuapp.com/login_page")

In [32]:
#要素を指定する
elem_username=browser.find_element_by_id("username")

In [33]:
elem_username.send_keys("imanishi")

In [39]:
elem_password=browser.find_element_by_id("password")

In [40]:
elem_password.send_keys("kohei")

In [41]:
elem_login_btn=browser.find_element_by_id("login-btn")

In [42]:
elem_login_btn.click()

# テキストデータを抽出

In [43]:
elem=browser.find_element_by_id("name")

In [45]:
elem.text

'今西 航平'

In [49]:
elems_th=browser.find_elements_by_tag_name("th")

In [52]:
elems_th[1].text

'所属企業'

In [55]:
th_list=[]
for elem in elems_th:
    th_list.append(elem.text)

In [56]:
th_list

['講師名', '所属企業', '生年月日', '出身', '趣味']

In [57]:
elems_td=browser.find_elements_by_tag_name("td")

In [58]:
td_list=[]
for elem in elems_td:
    td_list.append(elem.text)

In [59]:
td_list

['今西 航平', '株式会社キカガク', '1994年7月15日', '千葉県', 'バスケットボール\n読書\nガジェット集め']

In [62]:
df=pd.DataFrame([])

In [64]:
df["keys"]=th_list
df["values"]=td_list

In [65]:
df

   keys                 values
0   講師名                  今西 航平
1  所属企業               株式会社キカガク
2  生年月日             1994年7月15日
3    出身                    千葉県
4    趣味  バスケットボール\n読書\nガジェット集め

# 観光地の取得

In [93]:

rankingboxs=browser.find_elements_by_class_name("u_areaListRankingBox")

In [96]:
#ランキングボックス
title_list=[]
for rankingbox in rankingboxs:
    title=rankingbox.find_element_by_class_name("u_title")
    title_text=title.text.split("\n")[1]
    title_list.append(title_text)

In [97]:
title_list

['観光地 1',
 '観光地 2',
 '観光地 3',
 '観光地 4',
 '観光地 5',
 '観光地 6',
 '観光地 7',
 '観光地 8',
 '観光地 9',
 '観光地 10']

In [108]:
#総合スコア
all_score_list=[]
rankingboxs=browser.find_elements_by_class_name("u_areaListRankingBox")
for rankingbox in rankingboxs:
    all_score=rankingbox.find_elements_by_class_name("u_rankBox")
    all_score_list.append(all_score[0].text)

In [109]:
all_score_list

['4.7', '4.7', '4.6', '4.5', '4.5', '4.4', '4.3', '4.3', '4.2', '4.1']

In [118]:
#個々のスコア
categorys=browser.find_elements_by_class_name("u_categoryTipsItem")

scores_list=[]
for category in categorys:
    score_list=[]
    evaluateNumbers=category.find_elements_by_class_name("evaluateNumber")
    for evaluateNumber in evaluateNumbers:
        evaluateNumber_text=float(evaluateNumber.text)
        score_list.append(evaluateNumber_text)
    scores_list.append(score_list)

In [119]:
scores_list

[[4.6, 4.5, 4.9, 4.2],
 [4.6, 4.5, 4.9, 4.2],
 [4.5, 4.4, 4.8, 4.1],
 [4.4, 4.4, 4.8, 4.0],
 [4.4, 4.3, 4.7, 4.0],
 [4.3, 4.3, 4.7, 3.9],
 [4.2, 4.2, 4.6, 3.8],
 [4.2, 4.2, 4.6, 3.8],
 [4.1, 4.1, 4.5, 3.7],
 [4.0, 4.1, 4.4, 3.6]]

In [121]:
#スコアの名前
#共通だから一回で良い
category=browser.find_element_by_class_name("u_categoryTipsItem")
scorenames=category.find_elements_by_tag_name("dt")

scorename_list=[]
for scorename in scorenames:
    scorename_text=scorename.text
    scorename_list.append(scorename_text)

In [122]:
scorename_list

['楽しさ', '人混みの多さ', '景色', 'アクセス']

In [125]:
df_place=pd.DataFrame([])
df_place["name"]=title_list

df_score=pd.DataFrame(scores_list, columns=scorename_list)

df_place=pd.concat([df_place, df_score], axis=1)

In [126]:
df_place

     name  楽しさ  人混みの多さ   景色  アクセス
0   観光地 1  4.6     4.5  4.9   4.2
1   観光地 2  4.6     4.5  4.9   4.2
2   観光地 3  4.5     4.4  4.8   4.1
3   観光地 4  4.4     4.4  4.8   4.0
4   観光地 5  4.4     4.3  4.7   4.0
5   観光地 6  4.3     4.3  4.7   3.9
6   観光地 7  4.2     4.2  4.6   3.8
7   観光地 8  4.2     4.2  4.6   3.8
8   観光地 9  4.1     4.1  4.5   3.7
9  観光地 10  4.0     4.1  4.4   3.6

# 全ページ取得

In [128]:
title_list=[]
all_score_list=[]
scores_list=[]
for i in range(1,4):
    browser.get("https://scraping-for-beginner.herokuapp.com/ranking/?page={}".format(i))
    rankingboxs=browser.find_elements_by_class_name("u_areaListRankingBox")
    for rankingbox in rankingboxs:
        title=rankingbox.find_element_by_class_name("u_title")
        title_text=title.text.split("\n")[1]
        title_list.append(title_text)
        
    rankingboxs=browser.find_elements_by_class_name("u_areaListRankingBox")
    for rankingbox in rankingboxs:
        all_score=rankingbox.find_elements_by_class_name("u_rankBox")
        all_score_list.append(all_score[0].text)
        
    categorys=browser.find_elements_by_class_name("u_categoryTipsItem")


    for category in categorys:
        score_list=[]
        evaluateNumbers=category.find_elements_by_class_name("evaluateNumber")
        for evaluateNumber in evaluateNumbers:
            evaluateNumber_text=float(evaluateNumber.text)
            score_list.append(evaluateNumber_text)
        scores_list.append(score_list)
        
        
category=browser.find_element_by_class_name("u_categoryTipsItem")
scorenames=category.find_elements_by_tag_name("dt")
scorename_list=[]
for scorename in scorenames:
    scorename_text=scorename.text
    scorename_list.append(scorename_text)

In [129]:
df_place=pd.DataFrame([])
df_place["name"]=title_list

df_score=pd.DataFrame(scores_list, columns=scorename_list)

df_place=pd.concat([df_place, df_score], axis=1)

In [130]:
df_place

      name  楽しさ  人混みの多さ   景色  アクセス
0    観光地 1  4.6     4.5  4.9   4.2
1    観光地 2  4.6     4.5  4.9   4.2
2    観光地 3  4.5     4.4  4.8   4.1
3    観光地 4  4.4     4.4  4.8   4.0
4    観光地 5  4.4     4.3  4.7   4.0
5    観光地 6  4.3     4.3  4.7   3.9
6    観光地 7  4.2     4.2  4.6   3.8
7    観光地 8  4.2     4.2  4.6   3.8
8    観光地 9  4.1     4.1  4.5   3.7
9   観光地 10  4.0     4.1  4.4   3.6
10  観光地 11  4.0     4.0  4.4   3.6
11  観光地 12  3.9     4.0  4.3   3.5
12  観光地 13  3.8     3.9  4.3   3.4
13  観光地 14  3.8     3.9  4.2   3.4
14  観光地 15  3.7     3.8  4.2   3.3
15  観光地 16  3.6     3.8  4.1   3.2
16  観光地 17  3.6     3.7  4.1   3.2
17  観光地 18  3.5     3.7  4.0   3.1
18  観光地 19  3.4     3.6  3.9   3.0
19  観光地 20  3.4     3.6  3.9   3.0
20  観光地 21  3.3     3.5  3.8   2.9
21  観光地 22  3.2     3.5  3.8   2.8
22  観光地 23  3.2     3.4  3.7   2.8
23  観光地 24  3.1     3.4  3.7   2.7
24  観光地 25  3.0     3.3  3.6   2.6
25  観光地 26  3.0     3.3  3.6   2.6
26  観光地 27  2.9     3.2  3.5   2.5
27  観光地 28  2.8     3.2  3.4   2.4
28  観光地 29  2.8     3.1  3.4   2.4
29  観光地 30  2.7     3.1  3.3   2.3