In [54]:
# 乱数シードを固定
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

random.seed(1234)
np.random.seed(1234)

In [67]:
from numpy.random import randint
from scipy.special import expit
from numpy.random import randn

In [64]:
# データ数
num_data = 200

# 年齢
x_1 = randint(15, 75, num_data) # 15から75までの一様乱数

# 性別
x_2 = randint(0, 2, num_data) # 0か1の乱数

In [80]:
x_1

array([63, 54, 31, 49, 23, 61, 67, 55, 66, 60, 17, 35, 54, 38, 25, 74, 27,
       73, 15, 57, 32, 64, 31, 63, 31, 32, 27, 46, 57, 64, 30, 40, 35, 56,
       40, 20, 65, 61, 30, 35, 28, 61, 74, 32, 15, 18, 52, 33, 45, 41, 62,
       18, 66, 52, 19, 52, 73, 58, 51, 31, 20, 69, 70, 41, 34, 62, 27, 27,
       48, 36, 19, 52, 56, 64, 61, 70, 53, 50, 34, 62, 59, 57, 61, 63, 74,
       59, 41, 63, 17, 50, 61, 48, 53, 48, 18, 61, 73, 52, 21, 72, 49, 69,
       21, 56, 41, 25, 38, 39, 24, 27, 16, 44, 66, 69, 21, 33, 65, 60, 51,
       73, 40, 66, 61, 58, 28, 55, 70, 36, 45, 29, 48, 73, 50, 32, 66, 63,
       45, 45, 17, 60, 15, 46, 34, 20, 49, 41, 30, 21, 74, 53, 53, 35, 32,
       31, 38, 35, 57, 41, 42, 48, 71, 45, 36, 61, 40, 59, 28, 60, 69, 26,
       65, 45, 59, 39, 25, 27, 38, 56, 25, 38, 70, 34, 30, 45, 21, 52, 69,
       26, 62, 30, 71, 21, 68, 24, 48, 56, 65, 25, 16, 61])

In [81]:
x_2

array([1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0,
       0, 0])

- CMを見たかどうかを決める
- 年齢(x_1)が高いほど、性別(x_2)が女性であるほどCMを見る確率が高いと仮定
- sigmoid関数を使用

In [82]:
# ノイズの発生
e_z = randn(num_data) # 平均0、標準偏差1の正規分布

# シグモイド関数に入れる部分
z_base = x_1 + (1 - x_2) * 10 - 40 + 5*e_z

# シグモイド関数を計算(CMを見る確率)
z_prob = expit(0.1 * z_base)

In [46]:
# テレビCMを見たかどうかの変数(0は見ていない、1は見た)
Z = np.array([])

for i in range(num_data):
    Z_i = np.random.choice(2, size=1, p = [1 - z_prob[i], z_prob[i]])[0] # CMを見る確率をweightとして0　or　1を選ぶ
    Z = np.append(Z, Z_i)

### 購入量Y^i  
- Y^i =-x_1 + 30*x_2 + 10*Z + 80 + noise
- 年齢(x_1)が大きいほど購入量は減少    
- 男性(x_2 ==1)の方が購入量は多い  
- テレビCMを見る(Z==1)と購入量は増える   
- -- 
- ここで、テレビCMによる購入への効果は+10が正解となる

In [88]:
# ノイズの発生
e_y = randn(num_data)

Y = -x_1 + 30*x_2 + 10*Z + 80 + 10*e_y

In [89]:
df = pd.DataFrame({
    "年齢" : x_1,
    "性別" : x_2, 
    "CMを見た" : Z,
    "購入量" : Y
})

In [90]:
df

     年齢  性別  CMを見た        購入量
0    63   1    1.0  49.386000
1    54   1    1.0  68.519280
2    31   1    1.0  82.560315
3    49   0    1.0  30.572583
4    23   0    0.0  55.393199
..   ..  ..    ...        ...
195  56   1    1.0  67.778285
196  65   1    1.0  57.830579
197  25   0    0.0  60.710280
198  16   0    0.0  57.440553
199  61   0    1.0  29.047600

[200 rows x 4 columns]

In [91]:
# 平均値を比べる
print(df[df["CMを見た"]==1].mean())
print("----------")
print(df[df["CMを見た"]==0].mean())

年齢       51.350000
性別        0.550000
CMを見た     1.000000
購入量      52.992921
dtype: float64
----------
年齢       32.933333
性別        0.650000
CMを見た     0.000000
購入量      67.107809
dtype: float64